@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --primary: #C38D5F;
    --black: #333333;
    --secondary: #331C0E;
    --width-break: 600px
}

body {
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #FCFEF0;
}

nav {
    background-color: var(--primary);
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

#header {
    font-size: 2rem;
    padding: 1rem;
}

textarea {
    box-sizing: border-box;
    border-radius: 9px;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-size: large;
}

button:hover {
    background-color: var(--secondary);
    color: #ffffff;
}

#translate-output {
    box-sizing: border-box;
    border-radius: 9px;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    border: 1px solid var(--black);
    color: black;
    padding: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}